name: CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ main ]
  workflow_call:
    outputs:
      gitversion:
        description: The output of GitVersion
        value: ${{ jobs.build.outputs.gitversion }}

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      gitversion: ${{ toJSON(steps.gitversion.outputs) }}

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@54b6560187372b52d97cc6dd69f4a99f392ab463
      with:
        versionSpec: '6.x'

    - name: Use GitVersion
      uses: gittools/actions/gitversion/execute@54b6560187372b52d97cc6dd69f4a99f392ab463
      id: gitversion

    - name: Use GitVersion to update project
      uses: gittools/actions/gitversion/command@54b6560187372b52d97cc6dd69f4a99f392ab463
      with:
        arguments: '/updateprojectfiles'

    - name: Build
      run: dotnet build --no-restore -c Release

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v6
      with:
        name: artifact
        path: SpectatorDisabler/bin/Release/net48/SpectatorDisabler-${{ steps.gitversion.outputs.AssemblySemVer }}.dll
        if-no-files-found: error
